Repository AdrikIvanov/CS_of_Qiau, pull requests merged in 2020-12, with the labels that each got.

#3 cpp files of E16 added
  KalhorClass/Computer basics & Programming/E16-990923/empty.txt
  KalhorClass/Computer basics & Programming/E16-990923/main.cpp
  KalhorClass/Computer basics & Programming/E16-990923/main2_1.cpp
  KalhorClass/Computer basics & Programming/E16-990923/main2_2.cpp
  KalhorClass/Computer basics & Programming/E16-990923/main2_3.cpp
  KalhorClass/Computer basics & Programming/E16-990923/main2_4.cpp
  KalhorClass/Computer basics & Programming/E16-990923/main3_1.cpp
  KalhorClass/Computer basics & Programming/E16-990923/main3_2.cpp
  KalhorClass/Computer basics & Programming/E16-990923/main4.cpp
  KalhorClass/Special topics/E8-990923/empty.txt
  KalhorClass/Special topics/E8-990923/main1_1.cpp
  KalhorClass/Special topics/E8-990923/main1_2.cpp
  KalhorClass/Special topics/E8-990923/main2.cpp
  KalhorClass/Special topics/E8-990923/main3.cpp
  KalhorClass/Special topics/E8-990923/main4.cpp
  KalhorClass/Special topics/E8-990923/main5.cpp
  KalhorClass/Special topics/E8-990923/main6.cpp
Labels: enhancement

#7 new main for array and while
  KalhorClass/HOMEWORKs/E4/while1.cpp
  KalhorClass/Special topics/E9-990930/main1.cpp
Labels: HOMEWORK, Special topics, enhancement

#8 sample1.cpp added.
  KalhorClass/HOMEWORKs/E4/sample1.cpp
Labels: HOMEWORK, enhancement
